ADSBX_KEY=api-key-here

PHOTO_API_USERNAME=username
PHOTO_API_PASSWORD=password

FIREBASE_PROJECT_ID="my-app"
FIREBASE_PRIVATE_KEY=private-key-here
FIREBASE_CLIENT_EMAIL="firebase-adminsdk@my-app.iam.gserviceaccount.com"
DB_URL=https://my-app.firebaseio.com

TWITTER_ACCESS_TOKEN=access-token-here
TWITTER_ACCESS_TOKEN_SECRET=access-token-secret-here
TWITTER_CONSUMER_KEY=consumer-key-here
TWITTER_CONSUMER_SECRET=consumer-secret-here
